.carousel {
	border-color: #ddd;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
    height: 500px;
}

.carousel-control {
    border-radius: 6px;
    height: 500px;
}

.carousel-inner > .item > a > img {
    height: 500px;
    width: 2000px;
    max-width: 100%px;

}

body{
	background-color: #fff;
}